{#each $data as series, i}
	{#each series as d}
		<rect class='group-rect' data-id="{i}" x="{$xGet(d)}" y="{$yGet(d)[1]}" {width} height="{height(d)}"fill={fill(series.key)}></rect>
	{/each}
	}
{/each}

<script>
import { scaleOrdinal } from 'd3-scale';

export default {
	namespace: 'svg',
	computed: {
		colorScale: ({ $xScale, $custom, $data, opts }) => {
			return scaleOrdinal()
				.domain($custom.seriesNames)
				.range(opts.colors);
		},
		fill: ({ colorScale, $custom }) => {
			return seriesName => colorScale(seriesName);
		},
		width: ({ $xScale }) => {
			return $xScale.bandwidth();
		},
		height: ({ $height, $xScale, $yGet }) => {
			return (d) => {
				const vals = $yGet(d);
				return vals[0] - vals[1];
			};
		}
	}
};
</script>
