{#each $data as d, i}
	<rect class='group-rect' data-id="{i}" x="{x0(d)}" y="{$yGet(d)}" width="{width(d)}" height="{height(d)}"
	fill="{opts.fill || '#00e047'}" stroke="{opts.stroke || ''}" stroke-width="{opts['stroke-width'] || 0}"></rect>
{/each}

<script>
export default {
	namespace: 'svg',
	computed: {
		x0: ({ $xGet }) => {
			return (d) => {
				return $xGet(d)[0];
			};
		},
		width: ({ $xGet }) => {
			return (d) => {
				const val = $xGet(d);
				return Math.max(0, (val[1] - val[0]));
			};
		},
		height: ({ $height, $yGet }) => {
			return (d) => {
				return $height - $yGet(d);
			};
		}
	}
};
</script>
